body {
    background-color: grey;
}

img {
	min-height: 290px;
}

h1 {
    color: white;
}



.vs-red-text {
	color: red !important;
}

.card {
    min-height: 550px;
}

.card-hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 3px solid black;
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}


.vs-bg-custom-api {
	background-image: url('https://puu.sh/JAQ38/510863839f.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#comments {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.comment {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.comment:last-of-type {
    margin-bottom: 0;
}

.comment .username {
    font-weight: bold;
}

.comment hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #ced4da;
}

.hidden {
    display: none;
    position: absolute;
}