body {
	background-color: bisque;
}

.vs-green-text {
	color: green;
}

.vs-red-text {
	color: red !important;
}

.vs-blue-text {
	color: blue !important;
}

.vs-bg-bisque {
	background-color: bisque;
}

.vs-display-center {
	justify-content: center;
    align-items: center;
    height: 100%;
}

.vs-bg-homepage {
	background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-size: cover;
	background-repeat: no-repeat;
}

.vs-index-button-position {
	padding-top: 30vh;
}

.vs-bg-custom {
	background-image: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-size: cover;
	background-repeat: no-repeat;
}

.vs-fixed-height-100 {
	height: 100vh;
	overflow: hidden
}

.vs-fixed-height-80 {
	height: 88vh;
}

.vs-fixed-height-60 {
	height: 60vh;
	overflow: auto;
}

.vs-overflow {
	overflow-y: auto;
	max-height: 70vh;
}

.vs-border {
	border: 5px solid black;
	border-radius: 24px;
}

.vs-card-border {
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	max-height: 428px;
}

.vs-index-img-maxH {
	max-height: 83px;
}

.vs-form-padding {
	padding-top: 100px;
}

.vs-custom-flex {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.vs-text-grey {
	color: #c3c3c3;
}

.vs-mt-7px {
	margin-bottom: 7px;
}

.vs-inline-block {
	display: inline-block;
}